streamlit
pyodbc
pandas
torch
torchvision
torchaudio
transformers>=3.1.0
sentence-transformers
openai
langgraph
pydantic
python-json-logger
pydantic-settings
langchain-community
langchain_huggingFace
tqdm 
ollama
redis